    body{font-family: Arial, sans-serif;
         font-size: 14px;
    }
    td {padding: 10px; text-align: left;}
    table {border: 1px dashed #888888; width: 450px; border-collapse: collapse;}
    div.hide, section.hide {
        display: none;
    }
    td.header {
        padding-bottom: 2px;
        border-bottom: 1px solid #DDDDDD;
    }
    tr.blue {
        background: rgba(0,0,255,.05);
    }
    tr.white {
        background: white;
    }
    tr.hover {
        background: rgba(255,0,0,.025);
    }
    tr.highlight {
        background: rgba(255,0,0,.05);
    }
    .gapi-analytics-data-chart-table-styles-th {
        background: white;
        border-bottom: 1px solid #DDDDDD;
    }
    google-visualization-table-table {
        height: 800px;
    }
    #tableWeek, #tableMonth, #tableYear {
        height: 340px;
    }

    #tableWeek > div > div {
        overflow: visible !important;
        height: auto !important;
    }
    #tableMonth > div > div:first-child {
        overflow: visible !important;
        height: auto !important;
    }
    #tableYear > div > div:first-child {
        overflow: visible !important;
        height: auto !important;
    }
