    body {
        font-family: Arial, sans-serif;
        font-size: 14px;
    }
    div.wrapper {
        width: 100%;
        padding: 10px;
        overflow: auto;
        display: inline;
    }
    div.hide, section.hide {
        display: none;
    }
    div.header {
        border-bottom: 1px solid #DDDDDD;
        padding: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .blue {
        background: rgba(0,0,255,.05);
    }
    .white {
        background: white;
    }
    tr.hover {
        background: rgba(255,0,0,.025);
    }
    tr.highlight {
        background: rgba(255,0,0,.05);
    }
    .gapi-analytics-data-chart-table-styles-th {
        background: white;
        border-bottom: 1px solid #DDDDDD;
    }
    #custom_query {
        margin-top: 10px;
        border:  1px solid #DDDDDD;
        overflow: auto;
        overflow-x: hidden;
    }

    #ehp_totals {
        margin-top: 10px;
        border: 1px solid #CCCCCC;
        width: 100%;
        display: inline;
    }

    #table > div > div:first-child {
        border: 1px solid #CCCCCC;
        height: auto !important;
        width: auto !important;
    }

    .table_div {
        float: left;
        width: 45%;
        padding: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .table_row {
        padding: 0px;
        margin: 0px;
        width: 100%;
        overflow: auto;
        overflow-x: hidden;
    }

    .sections {
        clear: both;
        border: 1px solid #DDDDDD;
        margin-top: 10px;
        overflow: hidden;
    }
    .clear {
        clear: both;
        padding: 10px;
        background: rgba(0,0,255,.05);
    }
    
    input[type=range] {
        width: 200px;
        height:20px;
    }

    .get_data {
        padding-left: 10px;
        padding-right: 10px;
        background: white;
        border: 1px solid #AAAAAA;
    }
    .get_data:hover {
        border: 1px solid #888888;
    }

    #page_displayed {
        display: inline;
    }
    
    #slider {
        display: inline;
    }
    
    #overview {
        display: none;
    }