    body{font-family: Arial, sans-serif;
         font-size: 14px;
    }
    td {padding: 10px; text-align: left;}
    table.dotted {border: 1px solid #CCCCCC; min-width: 450px; border-collapse: collapse;}
    div.hide, section.hide {
        display: none;
    }
    td.header {
        padding-bottom: 2px;
        border-bottom: 1px solid #DDDDDD;
    }
    tr.blue {
        background: rgba(0,0,255,.05);
    }
    tr.white {
        background: white;
    }
    tr.hover {
        background: rgba(255,0,0,.025);
    }
    tr.highlight {
        background: rgba(255,0,0,.05);
    }
    .gapi-analytics-data-chart-table-styles-th {
        background: white;
        border-bottom: 1px solid #DDDDDD;
    }
    google-visualization-table-table {
        height: 800px;
    }
    #tableWeek, #tableMonth, #tableYear {
    }

    #custom_query {
        margin: 10px;
        margin-left: 0px;
    }
    #ehp_totals {
        margin: 10px;
        margin-left: 0px;
        border: 1px solid #CCCCCC;
        width: 470px;
    }
    .totals {
        padding: 0px;
        margin: 0px;
        border-collapse: collapse;
        width: 100%;
    }

    #tableWeek > div > div:first-child {
        border: 1px solid #CCCCCC;
        overflow: visible !important;
        height: auto !important;
        width: auto !important;
        max-width: 95%;
    }
    #tableMonth > div > div:first-child {
        border: 1px solid #CCCCCC;
        overflow: visible !important;
        height: auto !important;
        width: auto !important;
        max-width: 95%;
    }
    #tableYear > div > div:first-child {
        border: 1px solid #CCCCCC;
        overflow: visible !important;
        height: auto !important;
        width: auto !important;
        max-width: 95%;
    }
